.header {
    margin-bottom: 10px;

    button {
        margin-right: 10px;
    }
}

.price {
    width: 40%;
}

.address_cascader {
    width: 50% !important;
}

.address_input {
    width: 48%;
    margin-left: 2%
}

:global {
    .ant-modal-header {
        border-bottom: none;
    }
    .ant-upload-list-picture-card-container {
        width: 61px !important;
        height: 57px !important;
        font-size: 8px !important;
    }
    .ant-upload.ant-upload-select-picture-card {
        width: 40px !important;
        height: 40px !important;
    }
    .ant-upload-list-picture-card .ant-upload-list-item {
        width: 61px !important;
        height: 57px !important;
        padding: 8px;
    }
}
